# Rate Limiter Configuration
RATE_LIMIT_STORAGE=memory  # memory | sqlite
LOG_LEVEL=INFO
APP_ENV=development

# Algorithm Configuration
FOO_ALGORITHM=fixed_window  # fixed_window | sliding_window_log | token_bucket | sliding_window_counter
BAR_ALGORITHM=sliding_window_log

# Client: client-basic
CLIENT_BASIC_FOO_LIMIT=10
CLIENT_BASIC_FOO_WINDOW=60
CLIENT_BASIC_BAR_LIMIT=20
CLIENT_BASIC_BAR_WINDOW=60

# Client: client-premium
CLIENT_PREMIUM_FOO_LIMIT=100
CLIENT_PREMIUM_FOO_WINDOW=60
CLIENT_PREMIUM_BAR_LIMIT=250
CLIENT_PREMIUM_BAR_WINDOW=60

# SQLite Configuration
SQLITE_DB_PATH=rate_limiter.db
